{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section class="gallery-section section-{{ section.id }}-padding">
  <div class="page-width">
  <div class="gallery-container">
    <!-- Left Box with Logo, Instagram Handle, and Button -->

    <!-- Right Gallery Grid (Mobile: Horizontal Slider) -->
    <div class="gallery-grid">
      <div class="gallery-info">
        <div class="gallery-detail">
      {% if section.settings.logo != blank %}
        <div class="gallery-logo">
          <img src="{{ section.settings.logo | img_url: 'medium' }}" alt="Logo">
        </div>
      {% endif %}
      <p class="gallery-text">{{ section.settings.instagram_handle }}</p>
      <a href="{{ section.settings.button_link }}" class="gallery-button button button--tertiary">{{ section.settings.button_text }}</a>
      </div>
    </div>
      {% for block in section.blocks %}
        <div class="gallery-item" {{ block.shopify_attributes }}>
          {% if block.settings.image != blank %}
            <a href="{{ block.settings.link | default: '#' }}">
              <img src="{{ block.settings.image | img_url: 'large' }}" alt="{{ block.settings.image.alt | escape }}">
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</section>
{% schema %}
{
  "name": "Gallery Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "instagram_handle",
      "label": "Instagram Handle",
      "default": "@uncmfrt.com"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Follow Us on Instagram"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "gallery_item",
      "name": "Gallery Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Gallery Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery Section",
      "settings": {},
      "blocks": [
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        }
      ]
    }
  ]
}
{% endschema %}
