<script src="{{ 'product-blend.js' | asset_url }}" defer></script>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="color-{{ section.settings.color_scheme }} isolate gradient"
>
  <div class="section-{{ section.id }}-padding page-width">
    <div class="blend-title-wrapper title-wrapper">
      {%- if section.settings['sub-heading'] != blank -%}
        <h6 class="sub-heading inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings['sub-heading'] }}
        </h6>
      {%- endif -%}
      {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
      {%- if section.settings.description != blank -%}
        <div class="collection__description  rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.description -}}
        </div>
      {%- endif -%}
    </div>
     <div class="product-blend-wrapper">
    <div class="product-blends-wrap">
     <div class="product-blends swiper swiper-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="product-blend swiper-slide">
            <div class="product-blend-content {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              <div class="product-blend-left">
                {% if  block.settings.main_image != blank %}
                <img src="{{ block.settings.main_image | image_url: width: block.settings.main_image.width , height: block.settings.main_image.height }}" width="{{ block.settings.main_image.width }}" height="{{ block.settings.main_image.height }}" />
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag }}
                {% endif %}
              </div>

              <div class="product-blend-right">
                <h2 class="main-heading {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">{{ block.settings.main_heading }}</h2>
                <div class="text-fields {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                  <div class="field"> {% render 'leaf-black-icon' %} {{ block.settings.text_field_1 }}</div>
                  <div class="field"> {% render 'leaf-black-icon' %} {{ block.settings.text_field_2 }}</div>
                  <div class="field"> {% render 'leaf-black-icon' %} {{ block.settings.text_field_3 }}</div>
                </div>
                <div class="ingredients">
                  <h3 class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">Active Ingredients</h3>
                  <div class="ingredient-columns">
                    {% if block.settings.ingredient_1_heading != blank or block.settings.ingredient_1_description != blank %}
                    <div class="ingredient-column {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                      {% render 'leaf-black-icon' %}
                      <h4>{{ block.settings.ingredient_1_heading }}</h4>
                      <p>{{ block.settings.ingredient_1_description }}</p>
                    </div>
                    {% endif %}
                    {% if block.settings.ingredient_2_heading != blank or block.settings.ingredient_2_description != blank %}
                    <div class="ingredient-column {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                      {% render 'leaf-black-icon' %}
                      <h4>{{ block.settings.ingredient_2_heading }}</h4>
                      <p>{{ block.settings.ingredient_2_description }}</p>
                    </div>
                    {% endif %}
                    {% if block.settings.ingredient_3_heading != blank or block.settings.ingredient_3_description != blank %}                   
                    <div class="ingredient-column {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                      {% render 'leaf-black-icon' %}
                      <h4>{{ block.settings.ingredient_3_heading }}</h4>
                      <p>{{ block.settings.ingredient_3_description }}</p>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% if block.settings.button_label != blank %}
                <div class="btn-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                  <a href="{{ block.settings.button_link }}" class="button button--primary">{{ block.settings.button_label }}</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      </div>
      <div class="product-blends-btn-next swiper-button-next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-left-arrow"
          width="10"
          height="8"
          viewBox="0 0 10 8"
          fill="none"
        >
          <path d="M5.87877 0.145833L9.6502 3.64583C9.75019 3.74306 9.80019 3.86111 9.80019 4C9.80019 4.13889 9.75019 4.25694 9.6502 4.35417L5.87877 7.85417C5.62162 8.04861 5.37877 8.04861 5.1502 7.85417C4.9502 7.60417 4.9502 7.36806 5.1502 7.14583L8.0002 4.5H0.714481C0.400195 4.47222 0.228767 4.30556 0.200195 4C0.228767 3.69444 0.400195 3.52778 0.714481 3.5H8.0002L5.1502 0.854167C4.9502 0.631944 4.9502 0.395833 5.1502 0.145833C5.37877 -0.0486111 5.62162 -0.0486111 5.87877 0.145833Z" fill="#1B1F23"/>
        </svg>
      </div>
      <div class="product-blends-btn-prev swiper-button-prev">
        <svg
          width="10"
          class="icon icon-left-arrow"
          height="8"
          viewBox="0 0 10 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M4.12123 0.145833L0.349805 3.64583C0.249805 3.74306 0.199805 3.86111 0.199805 4C0.199805 4.13889 0.249805 4.25694 0.349805 4.35417L4.12123 7.85417C4.37838 8.04861 4.62123 8.04861 4.8498 7.85417C5.0498 7.60417 5.0498 7.36806 4.8498 7.14583L1.9998 4.5H9.28552C9.5998 4.47222 9.77123 4.30556 9.7998 4C9.77123 3.69444 9.5998 3.52778 9.28552 3.5H1.9998L4.8498 0.854167C5.0498 0.631944 5.0498 0.395833 4.8498 0.145833C4.62123 -0.0486111 4.37838 -0.0486111 4.12123 0.145833Z" fill="#1B1F23"/>
        </svg>
    </div>
   </div>
  </div>
          </div>
</div>
{% schema %}
{
  "name": "Product Blend Slider",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "sub-heading",
      "label": "Sub heading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Heading",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "blend-item",
      "name": "Blend item",
      "settings": [
    {
      "type": "image_picker",
      "label": "Main Image",
      "id": "main_image",
      "info": "Select the main image for the product blend."
    },
    {
      "type": "text",
      "label": "Main Heading",
      "id": "main_heading",
      "default": "The Blend",
      "info": "Enter the main heading for the slider."
    },
    {
      "type": "richtext",
      "label": "Text Field 1",
      "id": "text_field_1",
      "default": "<p>Whey Based</p>"
    },
    {
      "type": "richtext",
      "label": "Text Field 2",
      "id": "text_field_2",
      "default": "<p>Build Muscle</p>"
    },
    {
      "type": "richtext",
      "label": "Text Field 3",
      "id": "text_field_3",
      "default": "<p>Clean Ingredients</p>"
    },
    {
      "type": "header",
      "content": "Active Ingredients Section"
    },
    {
      "type": "text",
      "label": "Ingredient 1 Heading",
      "id": "ingredient_1_heading",
      "default": "Whey Protein Isolate",
      "info": "Enter heading for ingredient 1."
    },
    {
      "type": "richtext",
      "label": "Ingredient 1 Description",
      "id": "ingredient_1_description",
      "default": "<p>Low Calorie With Virtually No Fat or Lactose, Quickly Absorbed To Maximize Muscle Building & Repair.</p>",
      "info": "Enter description for ingredient 1."
    },
    {
      "type": "text",
      "label": "Ingredient 2 Heading",
      "id": "ingredient_2_heading",
      "default": "Whey Protein Isolate",
      "info": "Enter heading for ingredient 2."
    },
    {
      "type": "richtext",
      "label": "Ingredient 2 Description",
      "id": "ingredient_2_description",
      "default": "<p>Low Calorie With Virtually No Fat or Lactose, Quickly Absorbed To Maximize Muscle Building & Repair.</p>",
      "info": "Enter description for ingredient 2."
    },
    {
      "type": "text",
      "label": "Ingredient 3 Heading",
      "id": "ingredient_3_heading",
      "default": "Whey Protein Isolate",
      "info": "Enter heading for ingredient 3."
    },
    {
      "type": "richtext",
      "label": "Ingredient 3 Description",
      "id": "ingredient_3_description",
      "default": "<p>Low Calorie With Virtually No Fat or Lactose, Quickly Absorbed To Maximize Muscle Building & Repair.</p>",
      "info": "Enter description for ingredient 3."
    },
    {
      "type": "text",
      "label": "Button Label",
      "id": "button_label",
      "default": "Customize This Blend",
      "info": "Enter the label for the button."
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    }
  ],
    }
  ],
  "presets": [
    {
      "name": "Product Blend"
    }
  ]
}
{% endschema %}
